body {
    color: darkred;
    background-color: darkgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* ← semicolon */
    margin: 0;
}
h1 {
    background-color: grey;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-left: 3px double black;
    border-right: 3px double black;
}
h2 {
    font-size: 1.25em;
    text-align: center;
}

.pics {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}